<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"16px","bottom":"24px","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}}} -->
<div class="wp-block-group" style="padding-top:16px;padding-bottom:24px;padding-left:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40)">
  <!-- wp:woocommerce/product-template /-->
  <!-- wp:spacer {"height":"32px"} --><div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div><!-- /wp:spacer -->
  <!-- wp:pattern {"slug":"tt5-child/h-scroll"} /-->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
